<section>
  <div id="homepage">
    {{!-- <h1>{{title}}</h1> --}}
    {{!-- <p>Welcome to {{title}}</p> --}}
    <h1>Cinema <br> Ironhack </h1>

    <form action="/movies">
      <button>
        Check the movies
      </button>
    </form>

  </div>
</section>

{{! <img src="/public/images/cinema.jpg" alt=""> }}
