<div id="allMovies">
  <h1>Ironhack Cinema</h1>
  <h3>Click on the movie to check the showtimes</h3>
  <div id="individualFilms">
    {{#each result}}
      <div id="filmCard">
        <img src="{{image}}" alt="image" />

        <h4>{{title}}</h4>

        <form action="/movies/{{_id}}">
          <button>See More</button>
        </form>

      </div>
    {{/each}}
  </div>
</div>
